

/******** Base styles **********/

/* .visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
 
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

input {
  display: block;
}

.container {
  
}


/********** Header ***********/
.header { }
.header__top { }
.header__logo {
  width: 144px;
}
.search { }
.search__input { }
.search__button { }
.user { }
.user__img-box {
  width: 40px;
}

.user__img-box img {
  border-radius: 50%;
  height: 40px;
}
.user__name { }
.header-nav { }
.header-nav__item { }


/************ Main ***********/
main {
 
}


/****************Footer***************/
.footer {
  
 }

/*******Modals************/


/******* Media **********/