/******** Fonts **********/
@font-face {
  font-family: "Mulish";
  src: local("Mulish"), url("../fonts/Mulish-Regular.woff2") format("woff2"), url("../fonts/Mulish-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: local("Mulish"), url("../fonts/Mulish-Bold.woff2") format("woff2"), url("../fonts/Mulish-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: local("Mulish"), url("../fonts/Mulish-SemiBold.woff2") format("woff2"), url("../fonts/Mulish-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: local("Mulish"), url("../fonts/Mulish-Light.woff2") format("woff2"), url("../fonts/Mulish-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url("../fonts/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url("../fonts/Nunito-SemiBold.woff2") format("woff2"), url("../fonts/Nunito-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url("../fonts/Nunito-ExtraBold.woff2") format("woff2"), url("../fonts/Nunito-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
/******** Base styles **********/
 *
 * .visually-hidden:not(:focus):not(:active) 
 * position: absolute
 * width: 1px
 * height: 1px
 * margin: -1px
 * border: 0
 * padding: 0
 * white-space: nowrap
 * -webkit-clip-path: inset(100%)
 * clip-path: inset(100%)
 * clip: rect(0 0 0 0)
 * overflow: hidden */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  color: #333333;
  background-color: #F5FAFE;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

input {
  display: block;
  border: none;
}

button {
  border: none;
  background-color: transparent;
}

.container {
  max-width: 77%;
  margin: auto;
}

/********** Header ***********/
.header__top {
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header__top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 177px;
  margin-right: 9.7%;
}

.search {
  display: flex;
  position: relative;
}
.search__input {
  width: 350px;
  height: 40px;
  font-weight: 400;
  background-color: #F5FAFE;
  border-radius: 6px;
  padding-left: 24px;
  padding-right: 75px;
}
.search__input::-moz-placeholder {
  font-size: 12px;
  color: #333333;
}
.search__input::-webkit-input-placeholder {
  font-size: 12px;
  color: #333333;
}
.search__button {
  position: absolute;
  background-color: #EC1F46;
  width: 65px;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 0 6px 6px 0;
}
.search__button img {
  width: 16px;
}

.search--header {
  margin-right: auto;
}

.user {
  width: 107px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.user__img-box {
  width: 40px;
}
.user__img-box img {
  border-radius: 50%;
  height: 40px;
}
.user__name {
  font-weight: 400;
}

.header-nav {
  background-color: #0A223D;
  color: #ffffff;
  padding: 1.8% 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  text-transform: uppercase;
}
.header-nav__item {
  margin-right: 2%;
}

.header-nav__flex-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -2%;
}

/********** Main ***********/
main {
  padding-top: 20px;
}

/********** Bread-crumbs ***********/
.bread-crumbs {
  display: flex;
  font-size: 10px;
  color: #0A223D;
}

.bread-crumbs__item {
  margin-right: 2px;
}

/****************Footer***************/
/*******Modals************/
/******* Media **********//*# sourceMappingURL=style.css.map */