/******* Media **********/
@media (max-width: 1430px)
  .container
    max-width: 80%

  .hotel
      margin-bottom: 59px

      &-img
        margin-bottom: 30px
        margin-left: auto
        margin-right: auto
        height: 450px
        
        img  
          height: 100%
          object-fit: inherit
  
  .booking
    flex-basis: 100%
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-bottom: -25px

    &__card
      padding-right: 23px
      padding-left: 23px
      margin-right: 5%
      width: 340px
      margin-left: auto

    &__map
      width: 340px
      height: 210px
      margin-right: auto  

@media (max-width: 1360px)
  .container
    max-width: 91%


@media (max-width: 1269px)
  .footer__logo
    padding-top: 0
    margin-bottom: 35px
    margin-right: 80px

  .footer__wrapper
    display: flex

  .footer__social--ipad
    display: flex

  .footer__social--gesktop
    display: none


@media (max-width: 992px)

  .booking
    &__card
      margin-left: 0
      margin-right: 0.5%

    &__map
      margin-right: 0
  
  .search--header
    width: 40%

@media (max-width: 768px)
  .search--header
    width: 48.6%

  .header__top
    padding: 30px 0

  .header__logo
    width: 132px
    margin-right: 6.7%
    line-height: 0

  .header-nav
    padding: 2.3% 0
    font-size: 12px 

  .header-nav__flex-box
    justify-content: space-evenly

  .hotel
  
    &-img
      height: 58.6vw
      margin-bottom: 30px

  .booking
    
    &__card
      width: 340px
        
    &__map
      width: 340px
    
  .activities__item
    width: 339px
    background-position-x: 0
    height: 255px

 
@media (max-width: 767px)
  .search--header,.user--header,.header-nav 
    display: none

  .header__menu-burger
    display: flex

  .hotel__header-raiting
    display: none

  .booking
      flex-direction: column
      align-items: center
      margin-bottom: 0
  
@media (max-width: 650px) 
 
      
@media (max-width: 400px)
  .hotel

    &__header-wrapper
      justify-content: space-between

    h2
      margin-right: 0
      margin-top: 12px

  .flash-offer
    order: -1
  
  .stars
    width: auto
    margin-bottom: 0
    margin-right: 17px

  .booking
    
      &__card
        width: 100%
      

      &__map
        width: 100%

@media (max-width: 320px)
  .header__top 
    padding: 28px 0

  .container
    max-width: 87%

  .header__logo
    width: 98px
    margin-right: 0
    padding-bottom: 3px

  .hotel
    padding-top: 23px
    margin-bottom: 40px

    &__header
      margin-bottom: 39px

    &-img
      width: 100%
      height: 56vw
      margin-bottom: 20px
