/******* Media **********/
@media (max-width: 1400px)
  .container
    max-width: 80%

@media (max-width: 1350px)
  .container
    max-width: 91%

@media (max-width: 1269px)
  .footer__logo
    padding-top: 0
    margin-bottom: 35px
    margin-right: 80px

  .footer__wrapper
    display: flex

  .footer__social--ipad
    display: flex

  .footer__social--gesktop
    display: none

@media (max-width: 1200px)
  

@media (max-width: 992px)
  .hotel-img
    margin-bottom: 30px
    margin-left: auto
    margin-right: auto
  
  .booking
    flex-basis: 100%
    display: flex
    justify-content: space-between
    flex-wrap: wrap

  .search--header
    width: 40%

@media (max-width: 768px)
  .search--header
    width: 48.6%

  .header__top
    padding: 30px 0

  .header__logo
    width: 132px
    margin-right: 6.7%
    line-height: 0

  .header-nav
    padding: 2.3% 0
    font-size: 12px 

  .header-nav__flex-box
    justify-content: space-evenly

  .activities__item
    width: 339px
    background-position-x: 0
    height: 255px

@media (max-width: 765px)
  .search--header,.user--header,.header-nav 
    display: none

  .header__menu-burger
    display: flex
 

@media (max-width: 320px)
  .header__top 
    padding: 28px 0

  .container
    max-width: 87%

  .header__logo
    width: 98px
    margin-right: 0
    padding-bottom: 3px
