/****************Footer***************/
/********** Footer-top***********/
.footer
  background-color: $dack-bg
  color: #ffffff
  padding-top: 108px
  padding-bottom: 47px

  &__top
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 95px
  
  &__logo
    width: 153px
    padding-top: 30px

  &__nav
    display: flex
    flex-wrap: wrap
    flex-basis: 820px
    justify-content: space-between
    margin-right: 5px

  &__nav-item
    &:first-child
      flex-basis: 286px 

    &:nth-child(2)
      margin-right: auto

    ul
      font-size: 14px
      line-height: 160%
      color: $footer-color
 
  &-title
    font-weight: 700
    font-size: 18px
    text-transform: uppercase

    &--nav
        margin-bottom: 17px

  &__aditional-information
    margin-bottom: 23px

  &__social
    display: flex
    align-items: center

    h4
      margin-right: 43px

  &__social-box
    display: flex
    min-width: 85px
    justify-content: space-between

    &-link
      width: 22px

.footer__social--ipad
  display: none