/********** Header ***********/
.header 
.header__top 
.header__logo 
  width: 144px

.search 
.search__input 
  font-family: "Mulish", sans-serif
  font-weight: 400

.search__button 
.user 
.user__img-box 
  width: 40px
  img
    border-radius: 50%
    height: 40px

.user__name 
  font-family: "Mulish", sans-serif
  font-weight: 400

.header-nav
.header-nav__item 
  font-family: "Mulish", sans-serif
  font-weight: 700