/********** Subscribe ***********
.subscribe
  background: linear-gradient(rgba(10, 34, 61, 0.8),rgba(10, 34, 61, 0.8)), url(../img/subscribe-bg-img.jpg)
  color: #ffffff
  padding-top: 100px
  padding-bottom: 90px

  &__wrapper
    margin: auto
    max-width: 50.7%
    display: flex
    justify-content: space-between
    align-items: center

  &__title
    font-size: 24px
    font-weight: 300

    span
      font-size: 36px
      font-weight: 600
      text-transform: uppercase

.email-input
  background-color: #ffffff
  height: 55px
  padding-left: 33px

  &::-moz-placeholder
    font-size: 14px
    font-weight: 300

  &::-webkit-input-placeholder
    font-size: 14px
    font-weight: 300  

.send-button
  color: #ffffff
  font-size: 12px
  font-weight: 700