/********** Subscribe ***********
.subscribe
  background: linear-gradient(rgba(10, 34, 61, 0.8),rgba(10, 34, 61, 0.8)), url(../img/subscribe-bg-img-1440.jpg)
  color: #ffffff
  padding-top: 100px
  padding-bottom: 90px
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  
  &__title
    font-size: 24px
    font-weight: 300
    margin-right: 10px

    span
      font-size: 36px
      font-weight: 600
      text-transform: uppercase

.container--subscribe
  padding: 0 13.1%
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap

.email-input
  background-color: #ffffff
  height: 55px
  padding-left: 33px

  &::-moz-placeholder
    font-size: 14px
    font-weight: 300

  &::-webkit-input-placeholder
    font-size: 14px
    font-weight: 300

.send-form
  width: 350px

.send-button
  color: #ffffff
  font-size: 12px
  font-weight: 700